<!-- layout.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">


</head>
<body>
    <!-- Full-width navigation bar -->
    <nav class="navbar">
        <div class="navbar-container">
            <a href="{{ url_for('home') }}" class="navbar-brand">Logo</a>
            <ul class="nav-links">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('dvar_torah') }}">Editor</a></li>
            </ul>
        </div>
    </nav>

    <!-- Page-specific content goes here -->
    
    {% block content %}{% endblock %}


    <script src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>
